.area-student{
    margin: 50px;
    color: white;
}

.soli-btn{
position: relative;
  color: var(--light);
  border: none;
  text-decoration: none;
  background: #94b43b;
  font-weight: bold;
  text-align: center;
  nav-left: 25px;
  font-size: 18px;
  padding: 12px 25px;
  margin-right: 45px;
  position: relative;
  z-index: 10;
}