.try-btn {
  position: relative;
  color: var(--light);
  border: none;
  text-decoration: none;
  background: #94b43b;
  font-weight: bold;
  text-align: center;
  nav-left: 25px;
  font-size: 24px;
  padding: 12px 25px;
  margin-right: 45px;
  position: relative;
  z-index: 10;
  margin-top: 40px;
}
.un-img {
  right: 100px;
  margin-left: 50px;
  z-index: -5;
  padding-bottom: 200px;
}
.home-text {
  color: white;
}
.box {
  z-index: -10;
}
.carroussel {
  position: relative;
  z-index: 10;
}
.main-txt-div {
  margin-top: 300px;
}

.home-text {
  top: 100px;
  text-shadow: 5px 5px 10px black;
}
